
{% extends "index.html" %}

{% block main %}

    <div id="novel_list">
        <div class="sub_panel panel_radius" style="width:850px;">
            <div class="subtitle">{{ title }}</div>
            <div class="subnovel">
                <ul>
                    {% for novel in novels %}
                        <li><a href="/n/{{novel.id}}">{{novel.title}}</a></li>

                    {% empty %}
                        <p>没有数据</p>

                    {% endfor %}
                </ul>
            </div>
        </div>

    </div> <!-- end novel_list -->

{% endblock %}
